.advantages__container {
  display: flex;
  flex-direction: column-reverse;
}

.advantages__left-side {
  margin-top: 44px;
}
.advantages__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.advantages__item {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $header-text-color;
  padding: 20px 32px;
  min-width: 122px;
  // max-width: 210px;
  flex-basis: calc((100% - 30px) / 2);
}

.advantages__value {
  font-weight: 700;
  font-size: 42px;
  line-height: 57/42 * 100%;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}
.advantages__description {
  font-weight: 600;
  font-size: 11px;
  line-height: 15/11 * 100%;
  max-width: 122px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__right-side {
    max-width: 500px;
  }
  .advantages__left-side {
    max-width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__container {
    flex-direction: row;
    margin-left: none;
  }
  .advantages__left-side {
    margin-left: 69px;
    margin-right: 130px;
  }
}
