h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body {
  font-family: "Open Sans", sans-serif;
}

._section-title-dark {
  color: #ffffff;
}

.modal-btn {
  display: inline-block;
  margin-bottom: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 133.3333333333%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #ff6c00;
}

.modal-btn-white {
  color: #303030;
  width: 163px;
}
.modal-btn-white:hover, .modal-btn-white:focus {
  color: #ffffff;
}

.modal-btn-dark {
  color: #ffffff;
  -ms-flex-item-align: center;
      align-self: center;
}

.__descripttion-white {
  color: #555555;
}

._suptitle-white {
  color: #303030;
}
._suptitle-white::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;
}

.section-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 28px;
  line-height: 117.8571428571%;
  letter-spacing: 0.05em;
}

.section-title-second {
  font-size: 42px;
  line-height: 116.6666666667%;
  max-width: 418px;
}

._section-title-white {
  color: #303030;
}

._container {
  padding: 0 23px;
  margin-left: auto;
  margin-right: auto;
}

._section {
  padding-top: 84px;
  padding-bottom: 84px;
}

._suptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 136.3636363636%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

._suptitle-dark {
  color: rgba(157, 164, 189, 0.6);
}
._suptitle-dark::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

._descripttion {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.02em;
  margin-top: 20px;
}

.__descripttion-dark {
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  ._container {
    width: 768px;
    padding: 0 39px;
  }

  ._section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  ._descripttion {
    font-size: 18px;
    line-height: 167%;
  }

  .modal-btn-white {
    margin-top: auto;
  }
}
@media screen and (min-width: 1200px) {
  ._container {
    width: 1200px;
    padding: 0 15px;
  }

  ._section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-title {
    font-size: 42px;
    line-height: 116.6666666667%;
  }

  .modal-btn-white {
    margin-top: auto;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    gap: 40px;
  }
  .mobile-menu-social-list::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin-right: 20px;
    position: absolute;
    top: 7px;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1111;
    height: 100%;
    min-width: 70%;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    overflow: auto;
    -webkit-transition: opacity 300ms linear, visibility 300ms linear;
    transition: opacity 300ms linear, visibility 300ms linear;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 118px;
    padding-left: 40px;
    padding-right: 10px;
  }

  .mobile-menu-btn-close {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0px;
    line-height: 0px;
    position: absolute;
    top: 48px;
    right: 31px;
    -webkit-transition: background-color 300ms linear, fill 300ms linear;
    transition: background-color 300ms linear, fill 300ms linear;
  }
  .mobile-menu-btn-close:focus, .mobile-menu-btn-close:hover {
    background-color: #ff6c00;
  }
  .mobile-menu-btn-close:focus .mobile-menu-icon-close, .mobile-menu-btn-close:hover .mobile-menu-icon-close {
    fill: #ffffff;
  }

  .mobile-menu-list-item-link,
  .phone-in-mobile-menu {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    color: #303030;
    -webkit-transition: color 300ms linear;
    transition: color 300ms linear;
  }
  .mobile-menu-list-item-link:hover, .mobile-menu-list-item-link:focus,
  .phone-in-mobile-menu:hover,
  .phone-in-mobile-menu:focus {
    color: #ff6c00;
  }

  .mobile-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }

  .mobile-menu-icon-close {
    border-radius: 50%;
  }

  .mobile-nav-menu {
    margin-bottom: 64px;
  }

  .phone-in-mobile-menu {
    display: block;
    margin-bottom: 24px;
  }

  .mobile-menu-btn {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #303030;
    padding: 12px 37px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    margin-bottom: 64px;
    background-color: transparent;
    -webkit-transition: color 300ms linear, background-color 300ms linear;
    transition: color 300ms linear, background-color 300ms linear;
  }
  .mobile-menu-btn:focus, .mobile-menu-btn:hover {
    background-color: #ff6c00;
    color: #ffffff;
  }

  .mobile-menu-list-link {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.2em;
    margin-left: 100px;
    margin-bottom: 24px;
    color: #303030;
    -webkit-transition: color 300ms linear;
    transition: color 300ms linear;
  }
  .mobile-menu-list-link:focus, .mobile-menu-list-link:hover {
    color: #ff6c00;
  }
  .mobile-menu-list-link:hover, .mobile-menu-list-link:focus {
    color: #ff6c00;
  }

  .lock {
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 767px) {
  .nav-menu,
  .mobile-phone,
  .modal-btn-header,
  .decorative-phone-container {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }
}
header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
  z-index: 11;
}

.header__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.menu-btn-icon {
  fill: #ffffff;
  width: 40px;
  height: 40px;
}
.menu-btn-icon:hover {
  fill: #ff6c00;
}

.menu-btn {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  right: 32px;
  padding: 0px;
}

.logo {
  width: 68px;
  height: 56px;
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
    margin-right: 111px;
  }

  .logo {
    margin-left: 10px;
    margin-right: 10px;
    fill: #303030;
  }

  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    margin-left: 48px;
  }

  .menu-list-item-link,
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
    -webkit-transition: 300ms linear;
    transition: 300ms linear;
  }
  .menu-list-item-link:hover, .menu-list-item-link:focus,
  .mobile-phone:hover,
  .mobile-phone:focus {
    color: #ff6c00;
  }

  .header__page {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .decorative-phone-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-left: auto;
  }

  .mobile-phone {
    position: absolute;
    bottom: -32px;
    left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header__page {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-phone {
    position: static;
    bottom: 0;
    left: 0;
    margin-right: 43px;
  }

  .decorative-phone-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-list {
    gap: 30px;
    margin-left: 130px;
  }

  .logo {
    margin-left: 0;
    margin-right: 0px;
  }

  .modal-btn-header {
    margin-right: 17px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link-hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-transform: rotate(-90deg) translateX(50%);
          transform: rotate(-90deg) translateX(50%);
  position: relative;
  margin-top: auto;
  bottom: -540px;
}
.link-hero__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;
  position: absolute;
  top: 12px;
  left: -80px;
}

.link-hero__link {
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  line-height: 136.3636363636%;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}
.link-hero__link:hover, .link-hero__link:focus {
  color: #ff6c00;
}

.hero__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 116.6666666667%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .hero__left-side {
    display: none;
  }

  .hero__right-side {
    padding-bottom: 208px;
    padding-top: 208px;
  }

  .hero__section {
    background-color: rgba(25, 28, 38, 0.2);
    background-image: url(./img/hero/tel/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__section {
    background-image: url(./img/hero/tel/2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__left-side {
    width: 87px;
  }

  .hero__right-side {
    padding-bottom: 237px;
    padding-top: 272px;
    padding-left: 98px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: rgba(25, 28, 38, 0.2);
    background-image: url(./img/hero/tab/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 767px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 767px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 767px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero__right-side {
    background-image: url(./img/hero/tab/2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__left-side {
    width: 69px;
  }

  .hero__right-side {
    padding-bottom: 208px;
    padding-top: 237px;
    padding-left: 100px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-image: url(./img/hero/laptop/1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__right-side {
    background-image: url(./img/hero/laptop/2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 118.0555555556%;
  }
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__secondury-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .about__left-container {
    display: none;
  }

  .hero__secondury-description {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__secondury-description {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .about__right-container {
    max-width: 470px;
  }

  .hero__secondury-description {
    margin-bottom: 42px;
  }
}
.prices__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.prices__list:first-child {
  margin-bottom: 20px;
}

.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prices__value,
.prices__value2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices__decorative-container {
  margin-top: 44px;
  margin-bottom: 44px;
  padding: 30px 20px 30px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices__section {
  background-color: #111319;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./img/prices/tel/1-1.jpg);
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .prices__section {
    background-image: url(./img/prices/tel/1-2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .prices__section {
    background-image: url(./img/prices/tab/1-1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .prices__section {
    background-image: url(./img/prices/tab/1-2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .prices__decorative-container {
    padding: 32px 40px;
  }

  .prices__value {
    font-size: 18px;
    line-height: 167%;
  }
}
@media screen and (min-width: 1200px) {
  .prices__section {
    background-image: url(./img/prices/lap/1-1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .prices__section {
    background-image: url(./img/prices/lap/1-2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .prices__decorative-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    background: none;
    padding: 32px 0;
  }

  .prices__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 30px 22px;
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .prices__list:first-child {
    margin-bottom: 0px;
  }
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.advantages__left-side {
  margin-top: 44px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #303030;
  padding: 20px 32px;
  min-width: 122px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}

.advantages__value {
  font-weight: 700;
  font-size: 42px;
  line-height: 135.7142857143%;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}

.advantages__description {
  font-weight: 600;
  font-size: 11px;
  line-height: 136.3636363636%;
  max-width: 122px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__right-side {
    max-width: 500px;
  }

  .advantages__left-side {
    max-width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: none;
  }

  .advantages__left-side {
    margin-left: 69px;
    margin-right: 130px;
  }
}
.team__section {
  background-color: #f7f7f7;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  gap: 64px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 138.8888888889%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 30px;
}

.team__qualification {
  font-weight: 400;
  font-size: 14px;
  line-height: 135.7142857143%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-top: 8px;
}

.team__sosial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.team__sosial-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.team__sosial-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__sosial-link:hover > .team__icon, .team__sosial-link:focus > .team__icon {
  fill: #ff6c00;
}

.team__icon {
  width: 20px;
  height: 20px;
  fill: #303030;
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.photos__list {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._centre-title {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 42px;
  line-height: 116.6666666667%;
}

.booling__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.booking__decorative-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.massage {
  resize: none;
  height: 76px;
  color: #ffffff;
}

.booking__btn {
  margin-top: 44px;
  font-weight: 600;
  font-size: 12px;
  line-height: 133.3333333333%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  padding: 12px 62px;
  border: 1px solid #ff6c00;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}
.booking__btn:hover, .booking__btn:focus {
  background-color: #ff6c00;
}

label {
  -ms-flex-wrap: 1;
      flex-wrap: 1;
}

input,
textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-top: 44px;
  border-radius: 0px;
}

.booking__main-decorative-container {
  background-color: #191c26;
}

.booking__input-area,
.massage {
  color: #ffffff;
}
.booking__input-area:focus,
.massage:focus {
  border-color: #ffffff;
  outline: none;
}

.booking__input-area:focus.booking__input-area::-webkit-input-placeholder,
.massage:focus.massage::-webkit-input-placeholder {
  border-color: #ffffff;
  outline: none;
  color: #ffffff;
}

.booking__input-area:focus.booking__input-area:-ms-input-placeholder,
.massage:focus.massage:-ms-input-placeholder {
  border-color: #ffffff;
  outline: none;
  color: #ffffff;
}

.booking__input-area:focus.booking__input-area::-ms-input-placeholder,
.massage:focus.massage::-ms-input-placeholder {
  border-color: #ffffff;
  outline: none;
  color: #ffffff;
}

.booking__input-area:focus.booking__input-area::placeholder,
.massage:focus.massage::placeholder {
  border-color: #ffffff;
  outline: none;
  color: #ffffff;
}

.booking__input-area::-webkit-input-placeholder,
.massage::-webkit-input-placeholder {
  font-family: var(--primery-font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.booking__input-area:-ms-input-placeholder,
.massage:-ms-input-placeholder {
  font-family: var(--primery-font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.booking__input-area::-ms-input-placeholder,
.massage::-ms-input-placeholder {
  font-family: var(--primery-font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.booking__input-area::placeholder,
.massage::placeholder {
  font-family: var(--primery-font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.booking__decorative-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .booking__decorative-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .booking__input-area {
    width: 330px;
  }
}
@media screen and (min-width: 768px) {
  ._centre-title {
    -ms-flex-item-align: self-start;
        align-self: self-start;
  }

  .booking__btn {
    -ms-flex-item-align: self-start;
        align-self: self-start;
  }
}
@media screen and (min-width: 1200px) {
  .booking__input-area {
    width: 250px;
  }
}
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__decorative-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
}

.contacts__address-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.contacts__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__address-mail {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.contacts__address-map:hover, .contacts__address-map:focus,
.contacts__address-phone:hover,
.contacts__address-phone:focus,
.contacts__address-mail:hover,
.contacts__address-mail:focus {
  color: #ffffff;
}

.contacts__address-map:hover .contacts__icon, .contacts__address-map:focus .contacts__icon,
.contacts__address-phone:hover .contacts__icon,
.contacts__address-phone:focus .contacts__icon,
.contacts__address-mail:hover .contacts__icon,
.contacts__address-mail:focus .contacts__icon {
  fill: #ffffff;
}

.contacts__address-map,
.contacts__address-phone,
.contacts__address-mail,
.contacts__address-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts__address-map {
  font-weight: 700;
}

._contacts-suptitle {
  color: #ffffff;
}

.contacts__icon {
  fill: transparent;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.contacts__section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .contacts__section {
    background-image: url(./img/contacts/tel/1-1.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .contacts__section {
    background-image: url(./img/contacts/tel/1-2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .contacts__section {
    background-image: url(./img/contacts/tab/1-1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .contacts__section {
    background-image: url(./img/contacts/tab/1-2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .contacts__decorative-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px;
  }

  .contacts__address {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .contacts__bottom-side {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__section {
    background-image: url(./img/contacts/lap/1-1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .contacts__section {
    background-image: url(./img/contacts/lap/1-2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .contacts__decorative-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 70px;
  }

  .qq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    gap: 30px;
  }

  .booking__container,
  .contacts__container {
    width: 570px;
  }

  .contacts__container {
    padding-left: 100px;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}
.footer__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}
.footer__list:hover, .footer__list:focus {
  color: #ff6c00;
}

.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 136.3636363636%;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__section {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }

  .footer__list {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .footer__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
