.photos__section {
}

.photos__container {
}

.photos__list {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.photos__item {
}
